<!-- <form class="col s6" action="/transfer" method="POST">
    <input type="hidden" id="ownerId" type="text" name="ownerId" value="<%= device.Owner %>">
    <input type="hidden" id="deviceId" type="text" name="deviceId" value="<%= device.PiId %>">
    <input type="hidden" id="buyerId" type="text" name="buyerId"
        value="<%= details.user.name %>">
    <div class="row center">
        <div class="input-field col s12">
            <button class=" blue btn waves-effect waves-light" type="submit">Buy This Device
            </button>
        </div>
    </div>
</form>
<form class="col s6" action="/transfer" method="POST">
    <input type="hidden" id="ownerId" type="text" name="ownerId" value="<%= device.Owner %>">
    <input type="hidden" id="deviceId" type="text" name="deviceId" value="<%= device.PiId %>">
    <input type="hidden" id="buyerId" type="text" name="buyerId"
        value="<%= details.user.name %>">
    <div class="row center">
        <div class="input-field col s12">
            <button class=" blue btn waves-effect waves-light" type="submit">Get Data
            </button>
        </div>
    </div>
</form> -->